h1, h2, h3, h4, h5, h6 {
    margin: 0;  /* remove default top & bottom margin */
    padding: 0; /* optional */
}

.container{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:large;
    border:1px solid white;
    background-color:white;
    width:40vw;
    height:90vh;
    margin:0px 30vw;
    text-align: center;
    border-radius:10px;
    overflow:hidden auto;
    box-shadow: 1px 0.5px 5px 3px rgb(133, 132, 132);
}

.wrapper{
    padding:5px;
    border-radius: 10px;
    overflow:hidden;
    background:white;
}
img{
    width:100%;
    border-radius: 10px;
    display:block;
}

article{
    margin:10px 15px;
    text-align: left;
}
.tag{
    text-align:left;
    margin:5px;
}
.tag span{
    font-size:13px;
    display:inline-block;
    padding:1px 8px;
    margin:5px;
    border:1px solid rgb(209, 207, 207);
    border-radius: 10px;
}
a{
    box-sizing: border-box;
    display:inline-block;
    color:rgb(16, 97, 247);
    text-decoration: none;
    margin:20px;
    font-weight:bold;
    background-color:rgb(204, 211, 230);
    font-size:12px;
    border-radius:22px;
    padding:12px;
}
a:hover{
    background-color: rgb(152, 181, 181);
}
span:hover{
    background-color: rgb(152, 181, 181);
}
