td{
    border: 2px solid red;
    padding:20px;
    background-color:rosybrown;
}
tr{
    border:2px solid red;
}
th{
    border:2px solid red;
    background-color:bisque;
}
table{
    border:4px solid black;
    border-collapse:collapse;
}